body {
	background: black;
}

.postcard {
	display: flex;
	flex-direction: column;
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	position: relative;
	width: 100%;
	height: 60px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 195px;
	margin: 3px 145px 0 0;
	font-family: "Brush Script MT", cursive;
}
.postcard-body {
	display: flex;
}

.postcard body-left p:first-child {
	text-align: center;
	margin-top: none;
	font-size: 45px;
}
.body-left .body-right {
	padding: 20px;
}
input {
	border: none;
	border-bottom: 1px solid grey;
	padding: 5px;
	text-align: center;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: lightgray;
	padding: 10px;
	border-radius: 1.5px;
}
button:hover {
	background-color: red;
	cursor: pointer;
}
